<div class="header">
  <h3>Q&A</h3>
</div>
<div class="questions">
  <dl>
    <% @questions.each do |question| %>
      <dt><%= fa_icon "question-circle" %> <%= question.title %></dt>
      <dd><%= question.answer %></dd>
    <% end %>
  </dl>
</div>
