version: 2
jobs:
  build:
    docker:
      - image: ghcr.io/h3poteto/rails:3.0.0-slim-buster
        environment:
          BUNDLE_APP_CONFIG: /usr/src/app/.bundle
          DB_HOST: 127.0.0.1
      - image: postgres:11.2-alpine
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: whalebirdorg
    working_directory: /usr/src/app
    steps:
      - checkout
      - restore_cache:
          name: Restoring Cache - bundle
          keys:
            - bundle-ruby263-{{ checksum "Gemfile" }}-{{ checksum "Gemfile.lock" }}
            - bundle-ruby263-{{ checksum "Gemfile" }}-
      - run:
          name: Bundle install
          command: bundle install --path vendor/bundle
      - save_cache:
          name: Saving Cache - bundle
          key: bundle-ruby263-{{ checksum "Gemfile" }}-{{ checksum "Gemfile.lock" }}
          paths:
            - "vendor/bundle"

      - run:
          name: Migrate database
          command: |
            bundle exec rake db:create RAILS_ENV=test
            bundle exec rake db:migrate RAILS_ENV=test
      - run:
          name: Test
          command: bundle exec rspec

  image:
    machine: true
    steps:
      - checkout
      - run:
          name: Check docker version
          command: docker version
      - run:
          name: Docker build
          command: |
            docker build -t $AWS_ECR_REPOSITORY:$CIRCLE_SHA1 .
            docker tag $AWS_ECR_REPOSITORY:$CIRCLE_SHA1 $AWS_ECR_REPOSITORY:latest
      - run:
          name: Docker push
          command: |
            $(aws ecr get-login --no-include-email --region ap-northeast-1)
            docker push $AWS_ECR_REPOSITORY:$CIRCLE_SHA1
            docker push $AWS_ECR_REPOSITORY:latest

  create_pull_request:
    docker:
      - image: circleci/golang:1.15-buster
    steps:
      - run:
          name: Install_hub
          command: |
            curl -sSLf https://github.com/github/hub/releases/download/v2.14.2/hub-linux-amd64-2.14.2.tgz | \
            tar zxf - --strip-components=1 -C /tmp/ && \
            sudo mv /tmp/bin/hub /usr/local/bin/hub
            hub --version
      - run:
          name: Update_tag_and_create_pr
          command: |
            git config --global user.name ${GITHUB_NAME}
            git config --global user.email ${GITHUB_EMAIL}
            git clone https://${GITHUB_NAME}:${GITHUB_TOKEN}@github.com/h3poteto/k8s-services.git
            cd k8s-services
            git init
            git checkout -b update-whalebirdsocial-image-${CIRCLE_SHA1}
            sed -i -e "s/\(564677439943\.dkr\.ecr\.ap-northeast-1\.amazonaws\.com\/h3poteto\/whalebirdsocial:\)[0-9a-z]\+.*$/\1$CIRCLE_SHA1/g" external-prd/whalebirdsocial/deployment.yaml
            git add .
            git commit -m "Update docker image for whalebirdsocial to ${CIRCLE_SHA1}"
            git push --set-upstream origin update-whalebirdsocial-image-${CIRCLE_SHA1}
            hub pull-request -m "[Image update] whalebirdsocial ${CIRCLE_SHA1}"



workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - image:
          filters:
            branches:
              only:
                - master
      - create_pull_request:
          filters:
            branches:
              only:
                - master
          requires:
            - build
            - image
