body[data-controller="desktop/contacts"] {
  .header {
    background: image-url("desktop/main_background.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: solid 1px #dcdcdc;
    padding-bottom: 50px;
    padding-top: 100px;
    text-align: center;
    width: 100%;
  }

  .contact-form {
    margin: 100px auto;
    max-width: 980px;

    textarea {
      height: 150px;
    }

    .invalid-feedback {
      display: inline;
    }

    .form-actions {
      text-align: center;
    }
  }
}
