body[data-controller="desktop/contents"] {
  .main-board {
    text-align: center;
    width: 100%;
    min-height: 500px;
    background: image-url("ios/main_background.jpg") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin-top: -22px;

    .main-title {
      padding-top: 180px;

      .short-description {
        margin: 36px 0 0;
      }
    }

    .downloads {
      padding: 80px 0 32px;;

      button {
        margin: 8px 12px;
      }
    }
  }

  .description {
    padding: 48px 0;

    .icon {
      text-align: center;
      font-size: 64px;
    }

    img {
      width: 640px;
      max-width: 90%;
    }

    .body {
      margin: 24px 0;
    }
  }

  .bg-gray {
    background-color: rgb(236, 236, 236);
  }
}
