body[data-controller="ios/inquiries"] {
  .header {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    background: image-url("main_background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-bottom: solid 1px #dcdcdc;
  }
  .inquiry-form {
    text-align: center;
    max-width: 1000px;
    margin: 100px auto;

    form {
      margin-left: 8px;
    }

    textarea {
      height: 150px;
    }
    table {
      margin: 10px auto;
      max-width: 700px;
      th {
        width: 180px;
      }
    }
  }
  .form-group {
    margin-right: 0;
  }
  .form-actions {
    text-align: center;
  }
}
