<div class="header">
  <h3>Privacy Policy of Whalebird</h3>
</div>
<div class="container">
  <div class="privacy-policy">
    <h1>Privacy Policy</h1>
    <p class="important">
      We don't collect any data from you, but Whalebird needs to store some of it at local in order to enable certain features.
    </p>
    <div class="fill-line"></div>
    <h2>Information Collection</h2>
    <p>
      We don't collect your personal data, like email, password or cookie.
      Whalebird store some different types of information in your storage, but we don't collect these information.
    </p>
    <h3>Types of Data Stored</h3>
    <ul>
      <li>Access Token</li>
    </ul>
    <h4>Access Token</h4>
    Whalebird stores Access Token in your storage to access Mastodon or Pleroma server. The Access Token does not include your personal data, but it can access your account of Mastodon or Pleroma.
    <div class="fill-line"></div>
    <h2>Mastodon or Pleroma</h2>
    <p>Whalebird is a Mastodon or Pleroma client and as such it needs to make many requests to Mastodon or Pleroma. Please read Mastodon or Pleroma's privacy policy for more details on what they may do whith that data.
    </p>
    <div class="fill-line"></div>
    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us:</p>
    <ul>
      <li>By email: h3.poteto@gmail.com</li>
    </ul>
  </div>
</div>
