/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootswatch/litera/variables";
@import "bootstrap";
@import "bootswatch/litera/bootswatch";
@import "font-awesome";
//@import "./application/ios/*.scss";

footer {
  border-top: solid 1px #dddddd;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
  color: #acacac;
}

.navbar {
  li {
    a:hover, a:visited, a:focus {
      background: none;
      border: 1px solid transparent;
    }
  }
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border: 1px solid #4582ec;
  background-color: rgba(255, 255, 255, 0);
}

.dropdown-menu {
  background-color: rgba(255, 255, 255, 0);
  li a:hover, li a:visited, li a:focus {
    background-color: #4582ec;
  }
}
