body[data-controller="contents"] {
  .main-board {
    text-align: center;
    width: 100%;
    height: 500px;
    background: image-url("main_background.jpg") no-repeat;
    background-size: cover;
    margin-top: -22px;

    .main-title {
      padding-top: 180px;
    }
    .app-store-badge {
      padding: 10px;
    }
  }

  .main-area {
    width: 100%;
    text-align: center;
  }
  .app-description {
    margin: 0 auto;
    .description {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  .gray-back {
    background: #dcdcdc;
  }

  .screenshot {
    width: 210px;
    display: inline-block;
    margin: 30px;
  }
}