<div class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Whalebird", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar-main" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to t('layouts.header.help'), helps_path %></li>
        <li><%= link_to t('layouts.header.contact'), new_inquiry_path %></li>
      </ul>
    </div>
  </div>
</div>
